@charset "utf-8";
/* CSS Document */

/* BODY */
body {
	font-family: 'Neucha', cursive;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

/* HEADLINES */

h1 {
	color: white;
	font-family: 'Rancho', cursive;
	font-size: 5vw;
	margin: 0;
	padding: 1px;
}
h2 {
	color: white;
	font-family: 'Rancho', cursive;
	font-size: 3vw;
}

a:link{
	color:rgba(219,139,10,1.00); 
}

a:visited{
	color:rgba(219,139,10,1.00); 
}


/* LISTS */

ul {
	padding-left: 0;
	margin: 1vw 0;
}

li {
	list-style: none; /* takes the bullet points out */
}

/* HEADER */

header{
	float: left;
	width: 30%;
	height: auto;
	
	
}

header h1 {
	text-align: right;
	margin-right: 3%;
} 

header img{
	width: 22%;
	height: auto;
	text-align: left;
	float: left;
	margin: 1% 0% 1% 2%;
}

.brand {
	background-color: rgba(0,0,0,1.00);
}

/* NAVIGATION */

nav {
	font-size: 5vw;
	text-align: center;
	color: white;
	background-color: rgba(33,33,33,0.90);
	
}

nav a:link {
	color: white;
	display: block;
	margin-top: 5%;
	text-decoration: none;
}
nav a:visited {
	color: white;
}

nav a.active{
	background-color: rgba(219,139,10,0.90);
}
nav a:hover{
	background-color: rgba(252,201,119,0.69);
	color: rgba(0,0,0,1.00);
}

/* QUOTE */
.column2{
	float:left;
	width: 100%;
	background-image: url("../images/RadioheadBackground.jpg");
	background-position: center;
	background-size: cover;
	margin-top: 4%;
	}
.quoteContainer{
	background-color: rgba(0,0,0,0.30);
}

.quote{
	color: white;
	font-size:5vw;
	margin:0 2%;
	padding: 2%;
}
.radiohead{
	font-size: 3.5vw;
	margin-top: 1.5%;
	margin-left: 40%;
	margin-bottom: 0;
}


/* CONTENT COLUMNS */

.content{
	float: right;
	width: 68%;
}

/* TITLE SECTION */

.title{
	width: 96%;
	background-image: url("../images/BackgroundTitlePortrait100-2.jpg");
	background-size: cover;
	background-position: center;
	padding: 7% 2%;
	
}

.Headline{
	width: 85%;
	background-color: rgba(0,0,0,0.80);
	text-align:center;
	margin: 3.5% 5%;
	padding: 0.5% 2% 0.001%;
}

.description{
	font-size: 2vw;
	color: white;
}

.intro{
	font-size: 5vw;
	color: white;
	margin: 0;
}

.enter-now-button {
	width: 40%;
	margin: 0% 35% 1%;
}
.enter-now-button p {
	margin:0;
}
.enter-now-button a:link {
	color: white;
	text-decoration: none;
	font-size: 4vw;	
	margin: 0px;
	background-color: rgba(219,139,10,0.70);
	padding: 3%;
}
.enter-now-button a:visited {
	color: white;
}
.enter-now-button a:hover {
	color: rgba(219,139,10,0.80);
	background-color: white;
}

/* ROW 1 */
.row{
	margin: 2% 0;
}
.column1{
	width: 100%;
}

.text-container{
	margin: 0.5% 0%;
}
.text-container h1{
	background-color: rgba(219,139,10,1.0);
	font-size: 5vw;
	font-family: 'Neucha', cursive;
	text-align: center;
	color: white;
}
.intro-text{
	font-size: 2.3vw;
	text-align: left;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	line-height: 1.5em;
	/*background-color:rgba(216,216,216,1.00);*/

}
.see-more-button{
	margin-top: 2%;
	margin-left: 80%;
	
}
.see-more-button a:link{
	font-size: 2.5vw;
	margin: 0;
	padding: 0 5%;
	font-family: 'Neucha', cursive;
	text-decoration: none;
	color: rgba(57,57,57,1.00);
	border: solid;
	border-color:rgba(57,57,57,1.00);
	border-width: thin;
	border-radius: 5%;
}

.see-more-button a:visited{
	color: rgba(57,57,57,1.00);
}

.see-more-button a:hover{
	color: rgba(199,199,199,1.00);
	background-color: rgba(57,57,57,1.00);
}

/* CATEGORIES */
.row2{
	/*float: left;*/
	margin-top: 1%;
	width: 100%;
	position: relative;
}
.categories-headline{
	width: 32%;
	position: absolute;
	margin-left: -3%;
	margin-top: -3%;
}

.categories-headline h1{
	color: white;
	text-align: center;
	background-color: rgba(219,139,10,1.0);
	font-family: 'Neucha', cursive;
	font-size: 4vw;
	padding: 1% 0;
	margin:0;
}

.images{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
}


/* Animal */
.animal-portrait{
	width: 100%;
	background-image: url("../images/Animal-Title.jpg");
	background-size: cover;
	background-position: right;
}
.animal-portrait h2{
	padding: 11% 12%;
	margin: 0;

}
.animal-portrait a:link{
	font-family: 'Rancho', cursive;
	font-size: 8vw;
	color: white;
	text-decoration: none;
	background-color: rgba(3,3,3,0.60); 
	padding: 3% 5.5%;
}
.animal-portrait a:visited{
	color: white;
}
.animal-portrait a:hover{
	background-color: rgba(3,3,3,0.90); 
}

/* Female */
.female-portrait{
	width: 100%;
	background-image: url("../images/Women-Title.jpg");
	background-size: cover;
	background-position: right;
}
.female-portrait h2{
	padding: 11% 12%;
	margin: 0;

}
.female-portrait a:link{
	font-family: 'Rancho', cursive;
	font-size: 8vw;
	color: white;
	text-decoration: none;
	background-color: rgba(3,3,3,0.50); 
	padding: 3% 5.5%;
}
.female-portrait a:visited{
	color: white;
}
.female-portrait a:hover{
	background-color: rgba(3,3,3,0.90); 
}

/* Male */
.male-portrait{
	width: 100%;
	background-image: url("../images/Men-Title.jpg");
	background-size: cover;
	background-position: top;
}
.male-portrait h2{
	padding: 11% 12%;
	margin: 0;

}
.male-portrait a:link{
	font-family: 'Rancho', cursive;
	font-size: 8vw;
	color: white;
	text-decoration: none;
	background-color: rgba(3,3,3,0.60); 
	padding: 3% 5.5%;
}
.male-portrait a:visited{
	color: white;
}
.male-portrait a:hover{
	background-color: rgba(3,3,3,0.90); 
}

/* WINNERS */
.row3{
	width: 100%;
	margin-top: 15%;
	position: relative;
}

/* Headline */
.winners-headline{
	margin-left: -5%; 
	margin-top: -5%;
	width: 50%;
	position: absolute;
}
.winners-headline h1{
	color: white;
	text-align: center;
	background-color: rgba(219,139,10,1.0);
	font-family: 'Neucha', cursive;
	font-size: 4vw;
	padding: 1% 0;
	margin:0;
}
/* Images */
.image-gallery{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.image-container{
	float: left;
	margin: 0 1.66%;
	margin-bottom: 2%;
	width: 30%;
}
.image-container img{
	width: 100%;
}
.image-container h2{
	color: black;
	margin: 1%;
	margin-left: auto;
	margin-right: auto;
}
.image-container p{
	font-size: 2vw;
	margin: 1.5% 0;
}

/* FOOTER */

footer {
	background-color: black;
	width: 95%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	font-size: 1.5vw;
}
.footer-button{
	padding-top: 2%;
}
.footer-button a:link {
	color: white;
	text-decoration: none;
	font-size: 6vw;	
	margin-top: 3%;
	background-color: rgba(219,139,10,1.00);
	padding:  0.25% 10%;
}
.footer-button a:visited {
	color: white;
}
.footer-button a:hover {
	color: rgba(219,139,10,0.80);
	background-color: white;
}

.clearfloat{
	clear: both;
}